@{
    ViewBag.Title = "Contact \\\\ ";
}

<h3>Contacts:</h3>

<address>
    <strong>Zhulien Ivanov</strong>
    <strong>E-mail:</strong>   <a href="mailto:zhulienivanov@yahoo.com">zhulienivanov@yahoo.com</a>
    <strong>Github:</strong>   <a href="http://github.com/zhulien-ivanov">zhulien-ivanov</a>
</address>